<footer class="container-fluid py-3 bg-black text-white d-flex justify-content-center">
    <div class="text-center">
    <p class="mb-2 text-black">Find us on</p>

    <div class="d-flex justify-content-center  gap-4 mb-3">
        <a href="https://www.facebook.com/" target="_blank" class="text-white fs-4">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="text-white fs-4">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.threads.com/" target="_blank" class="text-white fs-4">
            <i class="fab fa-threads"></i>
        </a>
        <a href="https://www.tiktok.com/" target="_blank" class="text-white fs-4">
            <i class="fab fa-tiktok"></i>
        </a>
    </div>
    <p class="mb-0 text-white">© 2025 Absolute. All rights reserved.</p>
    </div>
</footer>